@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-r;
  src: url(./fonts/Montserrat-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 500vh;
}
nav {
  position: fixed;
  width: 100%;
  padding: 1rem 0rem;
  /* background-color: rgb(136, 0, 199); */
  background-color: transparent;
  /* background-color: rgba(90, 2, 117, 0.5); */
  z-index: 101;
  /* transform: translateY(0px); */
  transition: background-color 0.4s ease-in-out;
}
.container {
  max-width: 1320px;
  height: inherit;
  margin: 0rem auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.nav-items {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.nav-item a {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
}
#home-section {
  background-image: url(./images/GradientBackground.jpg);
  background-color: violet;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100.1vh;
}
.intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  padding-top: 5%;
  /* margin: auto 0rem; */
}
.intro-text h1 {
  color: white;
  font-weight: 800;
  /* font-size: 7rem; */
  font-size: 5rem;
  margin-top: 1rem;
  text-align: center;
}
.intro-text h2 {
  color: #f2a5ff;
  font-weight: bold;
  font-size: 4rem;
  margin-top: 1rem;
}
.intro-text h3 {
  color: #f2a5ff;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}
/* .intro-text h4 {
  color: #f2a5ff;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
} */

.profile-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  /* height: 20%; */
  /* padding: 4rem 0rem; */
  padding: 1rem;
  margin: 0rem auto;
}
.profile-links svg {
  width: 3.125rem;
  height: 3.125rem;
  font-size: 3.125rem;
}

/*About Section*/
#about-section {
  margin: 2rem 0rem;
  /* padding: 2rem 0rem; */
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 5rem;
  /* height: 100vh; */
}

.about-heading,
.project-heading,
.contact-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}

.about-heading h2,
.project-heading h2,
.contact-heading h2 {
  font-size: 4rem;
  color: white;
  line-height: 1.1;
}
.about-heading h2.outline,
.project-heading h2.outline,
.contact-heading h2.outline {
  line-height: 0.75;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000000;
}
.about-heading h2.fill,
.project-heading h2.fill,
.contact-heading h2.fill {
  z-index: 100;
  color: #e057f6;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000000;
}
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem;
}
.profile-pic {
  margin: 2rem;
}
.profile-pic img {
  width: 25.75rem;
  height: 25rem;
}
.about-me {
  margin: 2rem;
  padding: 1rem;
  width: 50%;
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about-me p {
  font-size: 1.5rem;
  /* font-weight: bold; */
  font-family: Montserrat-r;
  font-weight: 900;
  text-align: justify;
}

.resume-link {
  width: 100%;
}

a.btn {
  text-decoration: none;
}

a.btn,
button.btn {
  background-color: #e057f6;
  color: black;
  display: block;
  width: 25%;
  height: 3rem;
  margin: auto;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  z-index: 10;
}

a.btn svgbutton.btn svg {
  font-size: 1rem;
  margin: 0.5rem;
}
a.btn:active,
button.btn:active {
  box-shadow: 7px 7px 14px 2px rgba(0, 0, 0, 0.3);
}

#project-section {
  position: relative;
  background-color: #f5e5ff;
  /* margin: 2rem 0rem; */
  padding-top: 2rem;
  padding-bottom: 15rem;
}
svg.top-overlay {
  width: 100%;
  position: absolute;
  bottom: 100%;
  z-index: -100;
  pointer-events: none;
}

svg.bottom-overlay {
  width: 100%;
  position: absolute;
  bottom: -1px;
  z-index: 0;
  pointer-events: none;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0rem;
  flex-wrap: wrap;
}

.project-card {
  background-color: white;
  width: 18.5rem;
  height: 21.875rem;
  border-radius: 2rem;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem 4rem;
}

.project-card-heading {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.project-card-image {
  width: 15.625rem;
  height: 7.812rem;
  background-color: rgb(212, 212, 212);
}
.project-card-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.project-card-footer svg {
  font-size: 2rem;
}

.project-desc {
  width: 35%;
  margin: 2rem 4rem;
}
.project-desc div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* border-bottom: 1px solid black; */
}
.project-desc div .tag {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #ab08f6;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  /* border: 3px solid black; */
}

.project-desc p {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-top: 0.5rem;
}

.reverse {
  flex-direction: row-reverse;
}

/* .row:nth-child(2n) .project-desc p {
  text-align: start;
}

.row:nth-child(2n + 1) .project-desc p {
  text-align: end;
} */

#contact-section {
  /* margin: 2rem 0rem; */
  padding: 2rem 0rem;
  width: 100%;
  /* height: 100vh; */
}
.contact-heading {
  text-align: center;
}

.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #f5e5ff; */
  border: 1px solid #000000;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  border-radius: 96px;
  width: 20.5rem;
  height: 11.25rem;
  margin: 1.5rem;
}

.contact-card > * {
  margin: 0.75rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.contact-form > input {
  margin: 2rem;
  height: 1.5rem;
  font-family: Montserrat-r;
  font-size: 1.5rem;
  /* font-weight: 400; */
  padding: 2rem;

  border: none;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  border-radius: 121px;
  background-color: rgb(237, 237, 237);
}

.contact-form textarea {
  border-radius: 60px;
  font-family: Montserrat-r;
  font-size: 1.5rem;
  /* font-weight: 400; */
  padding: 2rem;
  resize: none;
  margin: 2rem;
  overflow: hidden;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  border: none;
  background-color: rgb(237, 237, 237);
}

.thank-you {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem 0rem;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 30px;
  background-color: #f5e5ff;
}

.btn.btn-curve {
  border-radius: 30px;
  position: relative;
}

.skill-sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-header {
  text-align: center;
}
.skills {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills .skill {
  margin: 1rem;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 1176px) {
  .about-me {
    width: 80%;
    margin: 0;
  }

  .profile-pic {
    margin: 1rem;
  }
}
/* 1040 */
@media screen and (max-width: 1040px) {
  html {
    font-size: 14px;
  }
  .about-me {
    width: 100%;
    margin: 0;
  }
  .about-me p {
    text-align: justify;
  }
  button.btn {
    font-size: 1.2rem;
    height: auto;
    width: 30%;
  }
  .project-desc {
    width: 60%;
  }
}
@media screen and (max-width: 720px) {
  html {
    font-size: 12px;
  }
  .about-me p {
    text-align: center;
  }
  .contact-heading,
  .about-heading {
    margin: 0;
  }
  .about-heading h2.outline,
  .project-heading h2.outline,
  .contact-heading h2.outline {
    -webkit-text-stroke-width: 2px;
  }

  .about-heading h2.fill,
  .project-heading h2.fill,
  .contact-heading h2.fill {
    -webkit-text-stroke-width: 2px;
  }
  .project-desc {
    width: 100%;
  }
  .contact-form {
    width: 100%;
  }
  button.btn {
    width: 45%;
  }
}

@media screen and (max-width: 430px) {
  .skill-section {
    display: none;
  }
  button.btn {
    width: 75%;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }

  .about-heading h2.outline,
  .project-heading h2.outline,
  .contact-heading h2.outline {
    -webkit-text-stroke-width: 1.5px;
  }

  .about-heading h2.fill,
  .project-heading h2.fill,
  .contact-heading h2.fill {
    z-index: 100;

    -webkit-text-stroke-width: 1.5px;
  }
}
